*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff: 'Open Sans', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-small: 0.8rem;
    --clr-white: #ffffff;
    --clr-cf: #f2f2f2;
    --clr-cf-hover: #ebebeb;
    --clr-cf-selected: #030303;
    --clr-cf-border: #d9d9d9;
    --clr-divider: #e6e6e6;
    --clr-black: #000000;
    --clr-accent-1: #188038;
    --clr-accent-2: #105625;
}

body {
    margin: 0 39px;
}

/* LOADER */
.lds-ellipsis {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--clr-grey-4);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/* MODALS */
.modal {
    background-color: rgba(0,0,0,0.4);
}

#sheetIdModal {
    display: block;
}

.modal-title {
    font-family: var(--ff);
}

.modal-txt {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    text-align: center;
}

#demoInput {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#demoInput:hover {
    color: darkblue;
}

.sheet-id-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sheetIdInput {
    border-color: transparent;
    background-color: var(--bs-gray-200);
    border-radius: 5px;
    padding: .5rem;
    margin: 1em 0;
    width: 100%;
    text-align: center;
}

#sheetIdInput:focus {
    outline: none;
}

.modal-btn {
    font-family: var(--ff);
    font-size: var(--fs-body);
    /* background-color: var(--clr-grey-3); */
}

.modal-submit {
    background-color: var(--clr-accent-1);
    color: var(--bs-white);
}

.modal-submit:hover {
    background-color: var(--clr-accent-2);
    color: var(--bs-white);
}

.modal-cancel {
    background-color: var(--bs-gray-300);
}

.modal-cancel:hover {
    background-color: var(--bs-gray-400);
}

/* FORM */
#columnsForm {
    display: none;
}

.form-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
    gap: 1em 0;
    width: 16em;
    margin: 0 auto;
}

.form-labels {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    grid-column: 1 / 2;
}

.form-items {
    border-color: transparent;
    background-color: var(--bs-gray-200);
    border-radius: 5px;
    padding: .5rem;
    width: 3em;
    justify-self: right;
}

.form-items:focus {
    outline: none;
}

.form-btn {
    text-align: center;
    margin-top: 2em;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 36px;
    margin-top: 13px;
}

.title {
    font-family: var(--ff);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

.attribution {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

#changeIdBtn {
    font-family: var(--ff);
    cursor: pointer;
    background-color: var(--clr-accent-1);
    color: var(--bs-white);
    border: 1px solid var(--bs-gray-600);
    border-radius: 20px;
    padding: .3em .5em;
    /* margin-bottom: .5em; */
    transition: 0.3s;
}

#changeIdBtn:hover {
    background-color: var(--clr-accent-2);
}

/* SEARCH BAR */
.search-bar-div {
    display: flex;
    align-items: center;
    /* border: 1px solid var(--clr-green-6); */
    border-color: transparent;
    border-radius: 5px;
    background-color: var(--bs-gray-200);
    padding: .5rem;
    margin-bottom: 7px;
}

#searchBar {
    width: 100%;
    border: none;
    background-color: var(--bs-gray-200);
}

#searchBar:focus {
    outline: none;
}

/* CAPSULE FILTER */
.capsule-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

/* #leftBtnDiv {
    position: absolute;
    left: 1rem;
    z-index: 1;
} */

#leftOuterDiv {
    /* left: 0%; */
}

#rightOuterDiv {
    right: 0;
}

.outer-div {
    position: absolute;
    z-index: 1;
    display: flex;
}

.inner-div {
    /* background-color: white; */
    display: flex;
    justify-content: center;
}

#leftInnerDiv::after {
    background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0) 80%);
    width: 20px;
    content: "";
}

#rightInnerDiv::before {
    background: linear-gradient(to left, white 20%, rgba(255, 255, 255, 0) 80%);
    width: 50px;
    content: "";
}

/* #leftBtn {
    background: transparent;
    border: none;
} */

/* #rightBtnDiv {
    position: absolute;
    right: 1rem;
    z-index: 1;
} */

.cap-btn {
    background-color: var(--bs-gray-300);
    /* color: var(--clr-grey-1); */
}

.cap-btn:hover {
    background-color: var(--bs-gray-400);
}

/* #rightBtnDiv::before {

}

#rightBtn {
    
} */

#capsuleFilters {
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#capsuleFilters::-webkit-scrollbar {
    display: none;
}

.radio-li {
    display: inline-block;
    margin: .5em 0;
}

.radio-input {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-label {
    font-family: var(--ff);
    cursor: pointer;
    background-color: var(--clr-cf);
    border: 1px solid var(--clr-cf-border);
    /* color: var(--fc-light); */
    border-radius: 20px;
    padding: .3em 1em;
    margin: .5em .45em;
    transition: 0.3s;
}

.radio-label:hover {
    background-color: var(--clr-cf-hover);
    /* color: var(--bs-gray-900); */
}

.radio-input:checked + label {
    background-color: var(--clr-cf-selected);
    /* border-color: var(--clr-select); */
    color: var(--bs-white);
}

/* .radio-input:checked + label:hover {
    background-color: var(--clr-green-3);
    border-color: var(--clr-hover-select-border);
    color: var(--fc-light);
} */

/* SORT BY */
.dropdown {
    float: right;
    margin: 3rem auto;
}

.sort-by {
    display: inline-block;
    font-family: var(--ff);
}

.dropdown-toggle {
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--clr-cf);
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: var(--clr-cf-hover);
    /* color: var(--clr-white); */
}

.dropdown-toggle-open::after {
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}

.dropdown-menu {
    min-width: 0;
    inset: 0px 0px auto auto;
    transform: translate(0px, 40px);
    background-color: var(--clr-cf-hover);
}

.dropdown-item {
    font-family: var(--ff);
    /* color: var(--clr-grey-1); */
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--clr-cf-selected);
    color: var(--bs-white);
}

.show {
    display: block;
}

/* SIDE FILTERS */
.content {
    display: flex;
}

.filters-left {
    max-width: 20%;
    /* flex: 20%; */
    margin-top: 3rem;
    border-right: 2px solid var(--clr-divider);
}

.filters-title {
    margin: 0 0 1em;
    font-family: var(--ff);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

#tagSearch {
    /* border: 1px solid var(--clr-green-6); */
    border-color: transparent;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 0.5em;
    background-color: var(--bs-gray-200);
}

.divider {
    border-top: 2px solid var(--clr-divider);
    opacity: 1;
}

/* .checkbox-li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.checkbox-input {
    cursor: pointer;
    /* background-color: var(--clr-white); */
    border: 2px solid var(--bs-gray-500);
}

.checkbox-label {
    max-width: 90%;
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkbox-input:hover, .checkbox-label:hover {
    border-color: var(--bs-gray-600);
}

.checkbox-input:checked {
    background-color: var(--bs-gray-600);
    border-color: transparent;
}

.checkbox-input:checked:hover {
    background-color: var(--bs-gray-700);
    border-color: transparent;
}

.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* SEARCH RESULTS */
#resultsList {
    /* flex: 80%; */
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 3rem 0;
    margin-left: 80px;
}

.item-complete {
    display: flex;
    gap: 40px;
    padding-bottom: 35px;
    border-bottom: 3px solid var(--clr-divider);
}

.item-img {
    max-width: 20rem;
}

.item-title {
    margin: 0;
    font-family: var(--ff);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.item-title-link:link {
    color: var(--clr-black);
    text-decoration: none;
}

.item-title-link:visited {
    color: var(--clr-black);
    text-decoration: none;
}

.item-title-link:hover {
    color: var(--clr-grey-4);
    text-decoration: none;
}

.item-subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.status-div {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid;
    padding: .3em .5em;
}

.status-circle {
    border-radius: 50px;
    width: var(--fs-body);
    height: var(--fs-body);
    /* vertical-align: text-top; */
}

.item-text {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    margin: 0;
}

.item-text-link:link {
    color: var(--clr-black);
    text-decoration: none;
}

.item-text-link:visited {
    color: var(--clr-black);
    text-decoration: none;
}

.item-desc {
    margin-bottom: 27px;
}

/* .display-inline {
    display: inline-block;
} */

/* .margin {
    margin: 1em 0;
} */


.tag-text, .type-text {
    cursor: pointer;
}

.fs-small {
    font-size: var(--fs-small);
}

.display-none {
    display: none;
}

.checked-tags {
    margin: 0 .3rem;
    padding: .3em .5em;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
}

.checked-tags:hover {
    background-color: var(--bs-gray-200);
}

/* MEDIA QUERY XL */
@media (max-width: 1341px) {
    .checkbox-label {
        max-width: 89%;
    }
}

/* MEDIA QUERY LG */
@media (max-width: 1168px) {
    .checkbox-label {
        max-width: 88%;
    }
}

/* MEDIA QUERY MD */
@media (max-width: 1092px) {
    .checkbox-label {
        max-width: 87%;
    }
}

/* MEDIA QUERY SM */
@media (max-width: 767.98px) {

}

/* MEDIA QUERY XS */
@media (max-width: 575.98px) {

}