*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff: 'Open Sans', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fc-light: #ffffff;
    --fc-dark: #000000;
    --fc-hover: #717272;
    --clr-light: #ededed;
    --clr-dark: #bbbbbb;
    --clr-hover: #dfdfdf;
    --clr-select: #000000;
    --clr-hover-select: #7a7a7a;
    --clr-hover-select-border: #6d6d6d;
}

/* LOADER */
.lds-ellipsis {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--clr-dark);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/* MODALS */
.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#sheetIdModal {
    display: block;
}

.modal-content {
    background-color: var(--clr-light);
    margin: 10% auto;
    width: 70%;
    border-radius: 5px;
}

.modal-title {
    font-family: var(--ff);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-align: center;
}

.modal-txt {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    text-align: center;
}

.sheet-id-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sheetIdInput {
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 1em;
    width: 50%;
    text-align: center;
}

#sheetIdInput:focus {
    outline: none;
}

.sheet-id-btn-div {
    display: flex;
}

.sheet-id-btn {
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--clr-dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 .5em 1em;
    padding: .5em;
}

/* FORM */
#columnsForm {
    display: none;
}

.form-div {
    text-align: center;
}

.form-labels {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

.form-items {
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 1em;
    width: 10%;
}

.form-items:focus {
    outline: none;
}

/* HEADER */
header {
    display: block;
    text-align: center;
}

.title {
    font-family: var(--ff);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

.attribution {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

#changeIdBtn {
    font-family: var(--ff);
    cursor: pointer;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 20px;
    padding: .3em .5em;
    margin-bottom: .5em;
    transition: 0.3s;
}

#changeIdBtn:hover {
    background-color: var(--clr-hover);
}

/* SEARCH BAR */
.search-bar-div {
    display: flex;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: .5rem;
}

#searchBar {
    width: 100%;
    border: none;
}

#searchBar:focus {
    outline: none;
}

/* CAPSULE FILTER */
#left {
    position: absolute;
    z-index: 1;
}

#right {
    position: absolute;
    right: 0px;
    z-index: 1;
}

#capsuleFilters {
    margin: .5em 0;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#capsuleFilters::-webkit-scrollbar {
    display: none;
}

.radio-li {
    display: inline-block;
    margin: .5em 0;
}

.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-label {
    font-family: var(--ff);
    cursor: pointer;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 20px;
    padding: .3em .5em;
    margin: .5em;
    transition: 0.3s;
}

.radio-label:hover {
    background-color: var(--clr-hover);
}

.radio-input:checked + label {
    background-color: var(--clr-select);
    border-color: var(--clr-select);
    color: var(--fc-light);
}

.radio-input:checked + label:hover {
    background-color: var(--clr-hover-select);
    border-color: var(--clr-hover-select-border);
}

/* SORT BY */
.drop-container {
    position: relative;
    float: right;
}

.sort-by {
    display: inline-block;
    font-family: var(--ff);
}

#sortBtn {
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--clr-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1em;
}

#sortBtn:hover, #sortBtn:focus {
    background-color: var(--clr-hover);
}

.drop-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow: auto;
    cursor: pointer;
    font-family: var(--ff);
    background-color: var(--clr-light);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-item {
    display: block;
    padding: 1em;
}

.drop-item:hover {
    background-color: var(--clr-hover);
}

.show {
    display: block;
}

/* MAIN CONTENT */
.content {
    display: flex;
}

.filters-left {
    flex: 20%;
    margin: 3rem auto;
    border-right: 1px solid var(--clr-dark);
}

.filters-title {
    margin: 0 0 1em;
    font-family: var(--ff);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.checkbox-label {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

.divider {
    border-top: 1px solid var(--clr-dark);
}

#resultsList {
    flex: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 1rem;
}

.item-complete {
    display: flex;
    gap: 1rem;
}

.item-img {
    max-width: 20rem;
}

.item-title {
    margin: 0;
    font-family: var(--ff);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.item-title-link:link {
    color: var(--fc-dark);
    text-decoration: none;
}

.item-title-link:visited {
    color: var(--fc-dark);
    text-decoration: none;
}

.item-title-link:hover {
    color: var(--fc-hover);
    text-decoration: none;
}

.item-text {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    margin: 0;
}

.item-text-link:link {
    color: var(--fc-dark);
    text-decoration: none;
}

.item-text-link:visited {
    color: var(--fc-dark);
    text-decoration: none;
}

.display-inline {
    display: inline-block;
}

.margin {
    margin: 1em 0;
}

.status-div {
    border-radius: 20px;
    border: 2px solid black;
    padding: .3em .5em;
}

.status-circle {
    border-radius: 50px;
    width: var(--fs-body);
    height: var(--fs-body);
    vertical-align: text-top;
}

.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}