*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff: 'Open Sans', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fc-light: #ffffff;
    --fc-dark: #000000;
    --clr-light: #ededed;
    --clr-dark: #bbbbbb;
    --clr-hover: #dfdfdf;
    --clr-select: #000000;
    --clr-hover-select: #7a7a7a;
    --clr-hover-select-border: #6d6d6d;
}

/* HEADER */
header {
    display: block;
    text-align: center;
}

.title {
    font-family: var(--ff);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

.attribution {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

/* SEARCH BAR */
.search-bar-div {
    display: flex;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: .5rem;
}

#searchBar {
    width: 100%;
    border: none;
}

/* CAPSULE FILTER */
#capsuleFiltersDiv {
    margin: .5em 0;
    overflow: auto;
    white-space: nowrap;
}

.radio-li {
    display: inline-block;
    margin: .5em 0;
}

.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-label {
    font-family: var(--ff);
    cursor: pointer;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 20px;
    padding: .3em .5em;
    margin: .5em;
}

.radio-label:hover {
    background-color: var(--clr-hover);
}

.radio-input:checked + label {
    background-color: var(--clr-select);
    border-color: var(--clr-select);
    color: var(--fc-light);
}

.radio-input:checked + label:hover {
    background-color: var(--clr-hover-select);
    border-color: var(--clr-hover-select-border);
}

/* SORT BY */
.drop-container {
    position: relative;
    float: right;
}

.sort-by {
    display: inline-block;
    font-family: var(--ff);
}

#sortBtn {
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--clr-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1em;
}

#sortBtn:hover, #sortBtn:focus {
    background-color: var(--clr-hover);
}

.drop-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow: auto;
    cursor: pointer;
    font-family: var(--ff);
    background-color: var(--clr-light);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-item {
    display: block;
    padding: 1em;
}

.drop-item:hover {
    background-color: var(--clr-hover);
}

.show {
    display: block;
}

/* MAIN CONTENT */
.content {
    display: flex;
}

.filters-left {
    flex: 20%;
    margin: 3rem auto;
    border-right: 1px solid var(--clr-dark);
}

.filters-title {
    margin: 0 0 1em;
    font-family: var(--ff);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.checkbox-label {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

.divider {
    border-top: 1px solid var(--clr-dark);
}

#resultsList {
    flex: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 1rem;
}

.item-complete {
    display: flex;
    gap: 1rem;
}

.item-img {
    width: 20rem;
}

/* .item-content {

} */

.item-title {
    margin: 0;
    font-family: var(--ff);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.item-text {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}