*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff: 'Open Sans', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-half: 0.5rem;
    --fc-light: #ffffff;
    --fc-dark: #000000;
    --fc-hover: #717272;
    --clr-light: #ededed;
    --clr-dark: #bbbbbb;
    --clr-hover: #dfdfdf;
    --clr-select: #000000;
    --clr-hover-select: #7a7a7a;
    --clr-hover-select-border: #6d6d6d;
}

/* LOADER */
.lds-ellipsis {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--clr-dark);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/* MODALS */
.modal {
    background-color: rgba(0,0,0,0.4);
}

#sheetIdModal {
    display: block;
}

.modal-title {
    font-family: var(--ff);
}

.modal-txt {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    text-align: center;
}

#demoInput {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#demoInput:hover {
    color: darkblue;
}

.sheet-id-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sheetIdInput {
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: .5rem;
    margin: 1em 0;
    width: 100%;
    text-align: center;
}

#sheetIdInput:focus {
    outline: none;
}

.sheet-id-btn-div {
    display: flex;
}

.sheet-id-btn {
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--clr-dark);
}

/* FORM */
#columnsForm {
    display: none;
}

.form-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
    gap: 1em 0;
    width: 16em;
    margin: 0 auto;
}

.form-labels {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    grid-column: 1 / 2;
}

.form-items {
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: .5rem;
    width: 3em;
    justify-self: right;
}

.form-items:focus {
    outline: none;
}

.form-btn {
    text-align: center;
    margin-top: 2em;
}

/* HEADER */
header {
    text-align: center;
}

.title {
    font-family: var(--ff);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

.attribution {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

#changeIdBtn {
    font-family: var(--ff);
    cursor: pointer;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 20px;
    padding: .3em .5em;
    margin-bottom: .5em;
    transition: 0.3s;
}

#changeIdBtn:hover {
    background-color: var(--clr-hover);
}

/* SEARCH BAR */
.search-bar-div {
    display: flex;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: .5rem;
}

#searchBar {
    width: 100%;
    border: none;
}

#searchBar:focus {
    outline: none;
}

/* CAPSULE FILTER */
#capsuleDiv {
    display: flex;
    align-items: center;
}

#leftBtnDiv {
    position: absolute;
    left: 1rem;
    z-index: 1;
}

/* #leftOuterDiv {
    position: absolute;
    z-index: 1;
    display: flex;
}

#leftInnerDiv {
    background-color: white;
    display: flex;
    justify-content: center;
}

#leftInnerDiv::after {
    background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0) 80%);
    width: 50px;
    content: "";
}

#leftBtn {
    background: transparent;
    border: none;
} */

#rightBtnDiv {
    position: absolute;
    right: 1rem;
    z-index: 1;
}

.cap-btn {
    background-color: var(--clr-dark);
}

/* #rightBtnDiv::before {

}

#rightBtn {
    
} */

#capsuleFilters {
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#capsuleFilters::-webkit-scrollbar {
    display: none;
}

.radio-li {
    display: inline-block;
    margin: .5em 0;
}

.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-label {
    font-family: var(--ff);
    cursor: pointer;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 20px;
    padding: .3em .5em;
    margin: .5em;
    transition: 0.3s;
}

.radio-label:hover {
    background-color: var(--clr-hover);
}

.radio-input:checked + label {
    background-color: var(--clr-select);
    border-color: var(--clr-select);
    color: var(--fc-light);
}

.radio-input:checked + label:hover {
    background-color: var(--clr-hover-select);
    border-color: var(--clr-hover-select-border);
}

/* SORT BY */
.dropdown {
    float: right;
}

.sort-by {
    display: inline-block;
    font-family: var(--ff);
}

.dropdown-toggle {
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--clr-light);
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: var(--clr-hover);
}

.dropdown-menu {
    min-width: 0;
    inset: 0px 0px auto auto;
    transform: translate(0px, 40px);
}

.dropdown-item {
    font-family: var(--ff);
    cursor: pointer;
}

.show {
    display: block;
}

/* SIDE FILTERS */
.content {
    display: flex;
}

.filters-left {
    flex: 20%;
    margin: 3rem auto;
    border-right: 1px solid var(--clr-dark);
}

.filters-title {
    margin: 0 0 1em;
    font-family: var(--ff);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.checkbox-input {
    cursor: pointer;
}

.checkbox-label {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    cursor: pointer;
}

.checkbox-input:hover, .checkbox-label:hover {
    border-color: var(--clr-hover-select-border);
}

.checkbox-input:checked:hover {
    background-color: red;
}

.divider {
    border-top: 1px solid var(--clr-dark);
}

.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* SEARCH RESULTS */
#resultsList {
    flex: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 1rem;
}

.item-complete {
    display: flex;
    gap: 1rem;
}

.item-img {
    max-width: 20rem;
}

.item-title {
    margin: 0;
    font-family: var(--ff);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.item-title-link:link {
    color: var(--fc-dark);
    text-decoration: none;
}

.item-title-link:visited {
    color: var(--fc-dark);
    text-decoration: none;
}

.item-title-link:hover {
    color: var(--fc-hover);
    text-decoration: none;
}

.item-text {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    margin: 0;
}

.item-text-link:link {
    color: var(--fc-dark);
    text-decoration: none;
}

.item-text-link:visited {
    color: var(--fc-dark);
    text-decoration: none;
}

.display-inline {
    display: inline-block;
}

.margin {
    margin: 1em 0;
}

.status-div {
    border-radius: 20px;
    border: 2px solid black;
    padding: .3em .5em;
}

.status-circle {
    border-radius: 50px;
    width: var(--fs-body);
    height: var(--fs-body);
    vertical-align: text-top;
}

.tag-text, .type-text {
    cursor: pointer;
}